@import 'https://fonts.googleapis.com/css?family=Raleway'; 
*{ 
  padding: 0; 
  margin: 0; 
  font-family: 'Raleway', sans-serif; 
} 

.full { 
    min-height: 100% !important;
    height: 100% !important;

}
.input-bus{
  height: 39px !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
.img-btn{
  height: 25px !important; 
}
.contenido_prin{
  background: red;
}
.busqueda_int{
  margin-top: 70px;
}
.im_team{
  width: 100% !important;
}
.bus-img{
}
#img-envio{
	margin-left: 3%;
}
#palabraBuscar{
	width: 100% !important;
}
.cont-dos{
	padding-left: 0px !important;
	padding-right: 0px !important;
}.div-int{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.imagen_center{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.contenido_text{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.img-btn{
	filter: invert(65%);
}
.input-bus{
	outline: none !important;
}
.contenedor-principal{
  background-color: red;
  min-height: 100%;
  position: absolute !important;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  /background-color: #F7F7F7;/
}

@media (max-width: 670px) and (min-width:0px){ 
  .menuDesplegable{ 
    left: -100%;
    }
    .menuIcono{
        display: block !important;
    }
    .sugerencia {
        position: absolute !important;
    }
    .contenedor-principal{ 
        overflow-y:inherit;
    } 
    .busqueda_int{
      display: none !important;
    }
    .imagen_center{
      margin-top: 70px;
    }
    .pais_relacionado{
      width: 70px !important;
    }
    .sugerencia_palabra{
      margin-top: 100px !important;
    }
    .pantalla_sencilla{
      margin-top: 50px !important
    }
}
@media (max-width: 640px) and (min-width:630px){
  .palabra_principal{
    width: 60% !important;
    margin-left: 18.5% !important; 
  }
}
@media (max-width: 770px) and (min-width: 670px){ 
  .menuDesplegable{ 
        width: 35% !important;
    }
    .contenedor-principal{ 
    margin-left: 35% !important;  
    width: 65% !important;
}
  .palabra-principal{
   margin-top: 200px !important;
}
#palabra2{
  width: 65% !important;
  margin-left: 15%;
}
  .pais_relacionado{
    width: 20% !important
  }
.espacio-espera {
    margin-top: 50px !important;
}

} 
@media (max-width: 1099px) and (min-width:992px){ 
  .palabra_principal{
    margin-top: 100px !important;
  }
  .div-bandera{
    margin-top: 50px !important;
  }


}

@media (max-width: 950px) and (min-width: 765px){
  .espacio-espera{
    margin-top: 100px !important;
    }
 .pais_relacionado{
      width: 70px !important;
    }
  .div-bandera{
  margin-left:0px !important;
    }
  #palabra2{
  width: 80% !important;
  margin-left: 2%;
    }
    .espacio-espera {
    margin-top: 50px !important;
}

}

@media (min-width: 770px) and (max-width: 1099px){ 
  .contenedor-principal{ 
  margin-left: 33% !important;  
  width: 67% !important;
}
 .pais_relacionado{
      width: 70px !important;
  }
 .div-bandera{
  margin-left:40px !important;
  }

 .texto-espera h3{
  font-size: 23px !important;
  }
  #palabra2{
  width: 80% !important;
  margin-left: 2%;
  }
  .espacio-espera {
    margin-top: 50px !important;
  }
}
@media (min-width: 1100px) { 
.menuDesplegable{ 
        width: 20% !important;
}
.contenedor-principal{ 
     margin-left: 20% !important;  
      width: 80% !important;
}
.sugeridas {
    width: 28% !important;
}
.empty{
  left: 26% !important;
}
.cont-dos{
  margin-left: 8% !important;
}
.contSugerencias{
  width: 100%;
	overflow: hidden;
}
.palabra_principal{
   margin-top: 100px !important;
   margin-left: 50px !important;
}
.div-bandera{
  margin-top: 50px !important;
  margin-left: 6% !important;
}
.texto-espera{
  margin-top: 50px !important;

}
.texto-espera h3{
  font-size: 25px !important;
}
.pais_relacionado{
  width: 90px !important;
  height: 55px;
}
.paises_relacionados{
  margin-left: 10px !important;
}
.div-bandera{
  margin-left:40px !important;
  }
#palabra2{
  width: 80% !important;
  margin-left: 10%;
}
.palabra_principal2{
  margin-top: 50px !important;
}
}

#sug_cont{
	padding-left: 0px !important;
	padding-right: 0px !important;
	overflow: hidden !important;
}
.enviarSugerencia{
	padding-left: 0px !important;
	padding-right: 0px !important;
	overflow: hidden !important;
  top: 0;
  left: 0;
  height: 50px;
  background-color: rgba(70, 126, 155, 1);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index: 11;
}
.contenedor_medio{
  
	height: auto !important;
}
.sugerencia_palabra{
  background-color: transparent; 
  width: 100%; 
  height: 100% !important; 
  margin-top: 20px; 
  border: none; 
  color: black; 
  font-size: 18px; 
  outline: none;  

}
.sugerencia_palabra input, .sugerencia_palabra select{
    background-color: transparent;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: none;
    color: black;
    font-size: 18px;
    border-bottom: 2px solid rgba(70, 126, 155, 0.5);
    outline: none;
    box-shadow: none !important;
}
.div-bandera{
  height: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.paises_con_relacion{
	height: auto !important; 
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.paises_sin_relacion{
	height: auto !important;
	padding-right: 0px !important;
	padding-left: 0px !important;

}
.contSugerencias h2 {
    margin-top: 35px;
}
.paises_relacionados {
    margin-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: auto ;

}
.paises_sin_relacion { 
  position: relative; 
  width: 100%; 
  height: 100% !important; 
  margin-bottom: 20%; 
  height: 100px; 
 
} 
.pais_relacionado{
	padding-right: 0px !important;
	padding-left: 0px !important;
  margin-left: 5%;
  margin-top: 6%; 
  background-color: black;
  transition: .4s ease-in-out;
}
.texto-espera{
  color:grey;
}
.contSugerencias {
   width: 100%;
   height: 100% !important;
   position: absolute !important;
   padding-left: 0px !important;
   padding-right: 0px !important;
   overflow-y: scroll !important;
   overflow-x: hidden !important;
   
}

.resultados {
    top: 0;
    background-color: #F7F7F7;
}
.enviarSugerencia img {
    margin-top: 15px;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 4%;
    -webkit-filter: invert(100%);
}
.enviarSugerencia h1{
  color: white;
  float: left;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 5%;
  font-weight: 400;
  width: 72%;
}
.enviarSugerencia a{
  -webkit-tap-highlight-color: transparent;
}
.contSugerencias h2{
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
}
.paises_con_relacion{
  display:none;
}
.paises_sin_relacion{
  display:none;
  margin-bottom: 20%;
}
#definicion1{
  display: none;
}
#definicion_unesco{
  display: none;
}
#definicion_ifilac{
  display: none;
}
#definicion2{
  display: none;
}
.pais_relacionado img {
    width: 100%;
    height: 100%;
    transition: .1s ease-in-out;
}
.background_white img {
    opacity: 1 !important;
}
.pantalla_sencilla{
  height: auto !important;
}
.menu_no{
  visibility: hidden;
}
#paisRegistro{
  margin-bottom: 15px !important;
}
.boton{
  height: 10% !important; 
}
.sugerencia_icono img{
  height: auto !important;
  filter: invert(60%);
  box-sizing: border-box;
  max-width: 100%;
}
.imagen_1{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.sugerencia_icono2 img{
  height: auto !important;
  filter: invert(60%);
  box-sizing: border-box;
  max-width: 100%;
}
.boton{
  margin-top: 20px;
}
#arrib{
  margin-bottom: 20px !important;
}
.con_relacion{
  margin-left: 4% !important;
}
.sin_relacion{
  margin-left: 4% !important;
}