<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#467E9B">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#467E9B">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#467E9B">
  <link rel="icon" href="img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sugerencia</title>
    <link rel="stylesheet" href="css/desktop-style.css">
  <link rel="stylesheet" href="cssBoostrap/bootstrap.css">
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/hammer.js"></script>
  <script src="js/jquery.hammer.js-master/jquery.hammer.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
  <script type="text/javascript" src="js/funciones_index.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script><!-- api texo a voz -->
</head>
<body>

  <div class="container-fluid full">
	     <div class=" text-center notificaciones" id="notificaciones">
    		<h1>Registrado</h1>
  		</div>
    <div class="contMenu " id="menu1" onclick="ocultarMenu()"></div>
     <div class="col-lg-offset-2 col-sm-8 menuIcono sugerenciaRespMenu" id="menuDes">
        <img src="img/menu.png" alt="menu" onclick="desplegarMenu()">

        <h1>Sugerencias</h1>
      </div>

      <div class="menuDesplegable col-xs-9 col-sm-4 col-md-3 col-lg-2" id="menu2" >
        <img class="imgPerM row col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-9 col-lg-offset-1 col-lg-10  " src="img/imgPerfil/default.jpg" id="imgPerM" alt="" />
        <div id="tituloMenu"></div>
        <div class="opMenu row">
          <a  href="principal.html"><div id="inicio2" class=" opciones activo"><img src="img/Home.png" alt="icono" /><h2>Inicio</h2></div></a>
          <a href="palabras.html"><div class="opciones  activo"><img src="img/todas.png" alt="icono" /><h2>Palabras</h2></div></a>
          <div id="cont_menu"></div>
          <a id="salirSesion"><div class=" opciones"><img src="img/closeSession.png" alt="icono" /><h2>Salir</h2></div></a>
        </div>
      </div>


<div class="report-cont" id="reporte" onclick="ocultarReporte()"></div>
<div class="col-sm-3 col-lg-offset-3 col-lg-5 definicion" id="definicion">
  <h3 id="palabraDefinicion">{{ definicion }}</h3>
  <h5 onclick="ocultarDefinicion()">Cerrar</h5>
</div>
<div class="contenedor-principal">
    <div class="resultados sugerenciaResp">
      <div class="col-xs-12 col-lg-12 palabraEspecifica">
        <h1 id="palabraPadre">{{ palabra }}</h1>
         <div class="col-lg-12 palabrasDes">
          <img src="img/definicion.png" alt="definicion" id="definicionImg"  onclick="mostrarDefinicion()"/>
          <img src="img/speakerPrincipal.png" id="sTitulo" alt="rechazar" class="text-right opcionesSug rechazar speaker" onclick=""/>
        </div>
        <input type="hidden" name="name" id="palabraPadreId" value="">
      </div>
      <div class="col-lg-12  contenedorSugerencias" id="contenedorSugerencias">
      </div>
    </div>
  </div>
	</div>
</body>
</html>
