<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#467E9B">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#467E9B">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#467E9B">
  <link rel="icon" href="img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modificar Password</title>
  <link rel="stylesheet" href="css/estilos.css">
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/hammer.js"></script>
  <script src="js/jquery.hammer.js-master/jquery.hammer.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
  <script type="text/javascript" src="js/funciones_index.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script><!-- api texo a voz -->
</head>
<body>
  <div class="notificaciones" id="notificaciones">
    <h1>Registrado</h1>
  </div>
  <div class="contMenu" id="menu1" onclick="ocultarMenu()"></div>
 <div class="menuDesplegable" id="menu2">
    <img class="imgPerM" src="img/imgPerfil/default.jpg" id="imgPerM" alt="" />
      <div id="tituloMenu"></div>
    <div class="opMenu">
      <a href="principal.html"><div class="opciones activo"><img src="img/Home.png" alt="icono" /><h2>Inicio</h2></div></a>
      <div id="cont_menu"></div>
      <a id="salirSesion"><div class="opciones"><img src="img/closeSession.png" alt="icono" /><h2>Salir</h2></div></a>
    </div>
  </div>
<div class="notificaciones" id="notificaciones"></div>
<div class="contenedor-principal">
    <img src="img/wallpaper.png" alt="" id="wallpaper">
    <div class="colorfondo"></div>
    <div class="icono">
      <img src="img/icono.png" alt="logo">
      <h1>Ntendamonos</h1>
    </div>
    <form method="post" onsubmit="return false">
      <input type="hidden" name="_token" value="{{ csrf_token() }}" id="token">
    <div class="datos-login">
      <input type="hidden" name="name" value="{{$idUsuario}}" id="idUsuario">
      <input type="password" onfocus="this.placeholder=''" placeholder="Nueva Password" name="password" id="password" onblur="this.placeholder='Nueva Password'">
      <input type="password" onfocus="this.placeholder=''" placeholder="Verif-Password" name="verifpassword" id="verifpassword" onblur="this.placeholder='Verif-Password'">
      <input type="submit" readonly="readonly" value="Confirmar" class="especial-input" id="confirmarPassword">
      <input type="submit" readonly="readonly" value="Cancelar" class="especial-input" id="cancelarPassword">
    </div>
    </form>
  </div>
</body>
</html>
